/*.container {
    max-width: 90% !important;
    width: 90% !important;
}

@media only screen and (min-width: 601px) {
    .container {
        width: 85% !important;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 70% !important;
    }
}
*/
.container-border-changes {
    border: 1px #dddddd solid !important;
}

.collection-changes {
    border: none !important;
}

.collection-item-changes {
    min-height: 50px !important;
}

.border-changes {
    border-right: 1px #dddddd solid !important;
}

.scroll-changes {
    overflow: scroll;
    overflow-x: hidden;
}

.title-font-changes {
    font-size: 1.4rem !important;
}

.chat-title-font-changes {
    font-size: 0.9rem !important;
}

.chat-simple-font-changes {
    font-size: 0.8rem !important;
}

.collection .collection-item{
    border-bottom: 0px !important
}

.chat-log-info{
    color: #26a69a;
}


.chat-form {
   
}